# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
- R
- SQL
- Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3.JavaScript
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow

|Data Science Tools|
|-----|
|RStudio|
|Jupyter Notebooks|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

2 + 1 = 3

5 - 1 = 4

3 * 4 = 12

In [1]:
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

y = 200/60

print(y)

3.3333333333333335

## Author
Binura Perera